.imgColor{
    opacity: 0.5;
    position: relative;
    right: 20px;
    bottom: 435px;
}
.AboutMyBox
{
    border:3px; border-style:solid; border-color:#ddd;
    color: white;
    background-color: #333;
    position: relative;
    text-align:left ;
    margin: 0;
    padding: 0;
}
.AboutMyBoxEm
{
    border:3px;
    position: relative;
    text-align:left ;
    margin: 0;
    padding: 0;
}
.centerText{
    text-align: center;
}
.leftcolumn {
    float: left;
    position: relative;
    width: 400px;
    padding-left: 20px;
    left: 12%;
  }
  .rightcolumn {
    float: right;
    position: relative;
    width: 400px;
    padding-left: 20px;
    right: 12%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img{
    border-radius: 50%;
  }
  .titleOAAM{
    border:3px; border-style:solid; border-color:#ddd;
    color: white;
    background-color: #333;
    width: 75%;
    position: absolute;
    left: 15%;
    text-align: center;
  }
  .SmallboxTSA
  {
    background-color:rgb(107, 107, 107);
    margin: 0;
    padding: 0;
        width: auto;
    height: 620px;
  }