  body
  {
    background-color:rgb(107, 107, 107);
  }
  .boxTS
  {
    background-color:rgb(107, 107, 107);
    margin: 0;
    padding: 0;
        width: auto;
    height: 1000px;
  }
  .SmallboxTS
  {
    background-color:rgb(107, 107, 107);
    margin: 0;
    padding: 0;
        width: auto;
    height: 500px;
  }
  .button
  {
    color: rgb(255, 255, 255);
  }
  .titleOA{
    border:3px; border-style:solid; border-color:#ddd;
    color: white;
    background-color: #333;
    width: 75%;
    height: 43.1%;
    position: absolute;
    top: 10px;
    left: 15%;
    text-align: center;
  }